In [94]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\mudasir sohail\appdata\local\programs\python\python314\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\mudasir sohail\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mudasir sohail\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mudasir sohail\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mudasir sohail\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\mudasir sohail\appdata\local\programs\python\python314\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [95]:
! pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\mudasir sohail\appdata\local\programs\python\python314\lib\site-packages (1.7.2)
Requirement already satisfied: numpy>=1.22.0 in c:\users\mudasir sohail\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (2.3.4)
Requirement already satisfied: scipy>=1.8.0 in c:\users\mudasir sohail\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\mudasir sohail\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\mudasir sohail\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (3.6.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [96]:
! pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\mudasir sohail\appdata\local\programs\python\python314\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\mudasir sohail\appdata\local\programs\python\python314\lib\site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [97]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler
print(pd.__version__)
print(np.__version__)

2.3.3
2.3.4

In [98]:
#importing Excel Datasheets
Automobile = pd.read_excel('Automobile.xlsx')
Automobile

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...,...
393,ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa
394,vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe
395,dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa
396,ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
397,chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

In [99]:
#Printing 5 rows by default
Automobile.head()

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa

In [100]:
#describing the dataset
Automobile.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [101]:
Automobile = Automobile.copy()

In [102]:
# Checking if there is an any null value, if there is a null then it will return true in the specific block
Automobile.isnull()

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
393,False,False,False,False,False,False,False,False,False
394,False,False,False,False,False,False,False,False,False
395,False,False,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False
397,False,False,False,False,False,False,False,False,False

In [103]:
Automobile = Automobile.copy()

In [ ]:
#Printing data types 
Automobile.dtypes

name             object
mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model_year        int64
origin           object
dtype: object

In [105]:
#Isna is detecting missing values
Automobile.isna()

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
393,False,False,False,False,False,False,False,False,False
394,False,False,False,False,False,False,False,False,False
395,False,False,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False
397,False,False,False,False,False,False,False,False,False

In [106]:
Automobile = Automobile.copy()

In [107]:
#printing names column
Automobile["name"]

0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object

In [108]:
numerical_features = Automobile.select_dtypes(include=['int64', 'float64']).columns
print("\nNumerical Columns:")
print(numerical_features)

Numerical Columns:
Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year'],
      dtype='object')

In [109]:
Automobile = Automobile.copy()

In [110]:
Automobile.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
393    False
394    False
395    False
396    False
397    False
Length: 398, dtype: bool

In [111]:
Automobile = Automobile.copy()

In [112]:
Automobile.duplicated().count()

np.int64(398)

In [113]:
Automobile = Automobile.copy()

In [114]:
# Step 6: Remove duplicates
# -----------------------------------------
before = Automobile.shape[0]
Automobile.drop_duplicates(inplace=True)
after = Automobile.shape[0]
print(f"\nRemoved {before - after} duplicate rows.")

Removed 0 duplicate rows.

In [115]:
Automobile = Automobile.copy()

In [116]:
# Check if feature scaling is necessary by examining the range of values for each numerical column
for column in numerical_features:
    column_range = Automobile[column].max() - Automobile[column].min()
    print(f"Range of '{column}': {column_range}")

Range of 'mpg': 37.6
Range of 'cylinders': 5
Range of 'displacement': 387.0
Range of 'horsepower': 184.0
Range of 'weight': 3527
Range of 'acceleration': 16.8
Range of 'model_year': 12

In [117]:
Automobile = Automobile.copy()

In [118]:
# Selecting numerical columns to apply feature scaling
features_to_scale = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration','model_year' ]
features_to_scale

['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model_year']

In [119]:
# Standardization using StandardScaler
scaler_standard = StandardScaler()
df_standard_scaled = pd.DataFrame(scaler_standard.fit_transform(Automobile[features_to_scale]), columns=features_to_scale)
print("\nDataset After Standardization (Z-score Normalization):")
df_standard_scaled

Dataset After Standardization (Z-score Normalization):

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
0,-0.706439,1.498191,1.090604,0.664133,0.630870,-1.295498,-1.627426
1,-1.090751,1.498191,1.503514,1.574594,0.854333,-1.477038,-1.627426
2,-0.706439,1.498191,1.196232,1.184397,0.550470,-1.658577,-1.627426
3,-0.962647,1.498191,1.061796,1.184397,0.546923,-1.295498,-1.627426
4,-0.834543,1.498191,1.042591,0.924265,0.565841,-1.840117,-1.627426
...,...,...,...,...,...,...,...
393,0.446497,-0.856321,-0.513026,-0.480448,-0.213324,0.011586,1.621983
394,2.624265,-0.856321,-0.925936,-1.364896,-0.993671,3.279296,1.621983
395,1.087017,-0.856321,-0.561039,-0.532474,-0.798585,-1.440730,1.621983
396,0.574601,-0.856321,-0.705077,-0.662540,-0.408411,1.100822,1.621983
397,0.958913,-0.856321,-0.714680,-0.584501,-0.296088,1.391285,1.621983

In [120]:
Automobile = Automobile.copy()

In [121]:
Automobile[features_to_scale]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
0,18.0,8,307.0,130.0,3504,12.0,70
1,15.0,8,350.0,165.0,3693,11.5,70
2,18.0,8,318.0,150.0,3436,11.0,70
3,16.0,8,304.0,150.0,3433,12.0,70
4,17.0,8,302.0,140.0,3449,10.5,70
...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82
394,44.0,4,97.0,52.0,2130,24.6,82
395,32.0,4,135.0,84.0,2295,11.6,82
396,28.0,4,120.0,79.0,2625,18.6,82
397,31.0,4,119.0,82.0,2720,19.4,82

In [122]:
# One-Hot Encoding 'Genre' column
df_onehot = pd.get_dummies(Automobile, columns=['horsepower'])
print("\nDataset After One-Hot Encoding 'Genre':")
df_onehot

Dataset After One-Hot Encoding 'Genre':

,name,mpg,cylinders,displacement,weight,acceleration,model_year,origin,horsepower_46.0,horsepower_48.0,...,horsepower_190.0,horsepower_193.0,horsepower_198.0,horsepower_200.0,horsepower_208.0,horsepower_210.0,horsepower_215.0,horsepower_220.0,horsepower_225.0,horsepower_230.0
0,chevrolet chevelle malibu,18.0,8,307.0,3504,12.0,70,usa,False,False,...,False,False,False,False,False,False,False,False,False,False
1,buick skylark 320,15.0,8,350.0,3693,11.5,70,usa,False,False,...,False,False,False,False,False,False,False,False,False,False
2,plymouth satellite,18.0,8,318.0,3436,11.0,70,usa,False,False,...,False,False,False,False,False,False,False,False,False,False
3,amc rebel sst,16.0,8,304.0,3433,12.0,70,usa,False,False,...,False,False,False,False,False,False,False,False,False,False
4,ford torino,17.0,8,302.0,3449,10.5,70,usa,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,ford mustang gl,27.0,4,140.0,2790,15.6,82,usa,False,False,...,False,False,False,False,False,False,False,False,False,False
394,vw pickup,44.0,4,97.0,2130,24.6,82,europe,False,False,...,False,False,False,False,False,False,False,False,False,False
395,dodge rampage,32.0,4,135.0,2295,11.6,82,usa,False,False,...,False,False,False,False,False,False,False,False,False,False
396,ford ranger,28.0,4,120.0,2625,18.6,82,usa,False,False,...,False,False,False,False,False,False,False,False,False,False
397,chevy s-10,31.0,4,119.0,2720,19.4,82,usa,False,False,...,False,False,False,False,False,False,False,False,False,False

In [123]:
Automobile = Automobile.copy()

In [124]:
#outliers in the dataset using IQR method

# Calculate Q1, Q3 and IQR for each numeric column
Q1 = Automobile.select_dtypes(include=['number']).quantile(0.25)
Q3 = Automobile.select_dtypes(include=['number']).quantile(0.75)
IQR = Q3 - Q1

# Identify outliers
outliers = (Automobile.select_dtypes(include=['number']) < (Q1 - 1.5 * IQR)) | (Automobile.select_dtypes(include=['number']) > (Q3 + 1.5 * IQR))
print("\nOutliers:")
outliers

Outliers:

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
393,False,False,False,False,False,False,False
394,False,False,False,False,False,True,False
395,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False
397,False,False,False,False,False,False,False

In [125]:
Automobile = Automobile.copy()

In [126]:
#displacement outliers rows in the originak dataset
print("\nRuntime Outliers:")
Automobile[outliers['displacement']]

Runtime Outliers:

Empty DataFrame
Columns: [name, mpg, cylinders, displacement, horsepower, weight, acceleration, model_year, origin]
Index: []

In [127]:
Automobile = Automobile.copy()

In [128]:
# Sum of outliers in each numeric column
print("\nOutliers Count:")
outliers.sum()

Outliers Count:

mpg              1
cylinders        0
displacement     0
horsepower      10
weight           0
acceleration     7
model_year       0
dtype: int64

In [129]:
Automobile = Automobile.copy()

In [134]:
Automobile.head()

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa

In [145]:
Automobile.to_excel("Cleaned_file.xlsx", index=False)

In [132]:
import os
os.getcwd()

'c:\\Users\\MUDASIR SOHAIL\\OneDrive\\Desktop\\Tasks\\Assignment 11'

In [135]:
os.listdir()

['assignment11.ipynb',
 'Automobile.xlsx',
 'Cleaned_Automobile.xlsx',
 'Cleaned_file.xlsx',
 'practice.ipynb']

In [ ]:
import pandas as pd
# Import numpy for missing value representation (if needed)
import numpy as np
# Import the necessary sklearn tools
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer # Used to fix missing values

# --- 1. Data Loading and Initial Inspection ---
# Your original code was for reading an Excel file:

Automobile = pd.read_excel('Automobile.xlsx')
print("Initial Missing Values:\n", Automobile.isnull().sum())
# The 'horsepower' column is where the NaNs exist.

# --- 2. Data Cleaning - Missing Values (CRITICAL FIX) ---
# Use SimpleImputer from sklearn to fill NaN values with the median
imputer = SimpleImputer(missing_values=np.nan, strategy='median')

# We only fit and transform the 'horsepower' column
Automobile['horsepower'] = imputer.fit_transform(Automobile[['horsepower']])

print("\nMissing Values After Imputation:\n", Automobile.isnull().sum())


# --- 3. Data Cleaning - Duplicates ---
before = Automobile.shape[0]
Automobile.drop_duplicates(inplace=True)
after = Automobile.shape[0]
print(f"\nRemoved {before - after} duplicate rows.")


# --- 4. Data Cleaning - Categorical Encoding (CRITICAL FIX) ---
# The correct categorical column is 'origin', not 'horsepower'.
# Drop 'name' as it's an identifier and not useful for modeling.
Automobile_encoded = pd.get_dummies(Automobile.drop('name', axis=1), 
                                     columns=['origin'], 
                                     prefix='origin',
                                     drop_first=True) # drop_first avoids multicollinearity

print("\nEncoded Data Head (Origin Encoded):\n", Automobile_encoded.head())


# --- 5. Feature Scaling (Standardization) ---
# Select the features for scaling (now including the imputed 'horsepower')
features_to_scale = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year']

# Initialize and apply the scaler (StandardScaler needs to be imported)
scaler_standard = StandardScaler()
# Note: Scaling should be done on the DataFrame *after* encoding if you want to scale everything. 
# Here we apply it only to the specified numerical features.
df_standard_scaled = pd.DataFrame(scaler_standard.fit_transform(Automobile_encoded[features_to_scale]), 
                                  columns=features_to_scale)

# Re-integrate the scaled features into the full cleaned DataFrame
for col in features_to_scale:
    Automobile_encoded[col] = df_standard_scaled[col]

print("\nDataset Head After Scaling:\n", Automobile_encoded.head())


# --- 6. Outlier Detection (Correctly implemented, but not treating them) ---
# Your original IQR outlier detection code is correct:
Q1 = Automobile_encoded.select_dtypes(include=['number']).quantile(0.25)
Q3 = Automobile_encoded.select_dtypes(include=['number']).quantile(0.75)
IQR = Q3 - Q1
outliers = ((Automobile_encoded.select_dtypes(include=['number']) < (Q1 - 1.5 * IQR)) | 
            (Automobile_encoded.select_dtypes(include=['number']) > (Q3 + 1.5 * IQR)))
print("\nTotal Outliers by Column (Sum):")
print(outliers.sum())


# --- 7. Save Final Cleaned File ---
# Save the final cleaned and prepared data (Automobile_encoded)
Automobile_encoded.to_excel("Cleaned_file.xlsx", index=False)

Initial Missing Values:
 name            0
mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

Missing Values After Imputation:
 name            0
mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

Removed 0 duplicate rows.

Encoded Data Head (Origin Encoded):
     mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year  origin_japan  origin_usa
0          70         False        True
1          70         False        True
2          70         False        True
3          70         False        True
4          70         False        True

KeyError: "['name'] not in index"